table.gost2-104-06 {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 185mm;
    table-layout: fixed;
    border-top: hidden;
}

table.gost2-104-06 tr {
    height: 5mm;
}
table.gost2-104-06 td {
    border: var(--borderStyle);
}

td.text-center {
    text-align: center;
}
