.page {
    padding: 8mm;

    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 10pt;
}

.page-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.header, .footer {
    overflow: hidden;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2mm;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
table tr {
    height: 5mm;
    font-weight: 400;
}
table tr td {
    border: 1px solid black;
    vertical-align: center;
    text-align: left;
    padding: 1mm;
}
table tr td.noborder, table tr.noborder > td {
    border: none;
}
table tr td.center, table tr.center > td, table thead.center > tr > td {
    text-align: center;
}
table td img {
    max-width: 100%;
}

.fnt-7 {
    font-size: 7pt;
}
.fnt-8 {
    font-size: 8pt;
}
.fnt-12 {
    font-size: 12pt;
}
.fnt-center {
    text-align: center !important;
}
