div.gost2-106-96 {
    --borderStyle: 1mm solid black;
    --borderThikStyle: 1mm solid black;

    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 12pt;
}

div.gost2-106-96 .page {
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 20mm;
    padding-right: 5mm;
}
div.gost2-106-96 .page-content {
    position: relative;
    height: 100%;
    width: 100%;
}

table.gost2-106-96 {
    border-collapse: collapse;
    border: var(--borderThikStyle);
    border-spacing: 0;
    width: 100%;
    table-layout:fixed;
}
table.gost2-106-96 thead tr {
    height: 15mm;
}
table.gost2-106-96 thead td {
    overflow: hidden;
    white-space: nowrap;
}
table.gost2-106-96 tr {
    height: 8mm;
}
table.gost2-106-96 td {
    border: var(--borderStyle);
}