div.gost2-106-96 {
    --borderStyle: 0.75mm solid black;

    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 3.5mm;
    font-style: italic;
}

div.gost2-106-96 .page {
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 20mm;
    padding-right: 5mm;
}
div.gost2-106-96 .page-content {
    position: relative;
    height: 100%;
    width: 100%;
}

table.gost2-106-96 {
    border-collapse: collapse;
    border: var(--borderStyle);
    border-spacing: 0;
    width: 100%;
    table-layout:fixed;
}
table.gost2-106-96 thead tr {
    height: 15mm;
}
table.gost2-106-96 thead td {
    overflow: hidden;
    white-space: nowrap;
}
table.gost2-106-96 tr {
    height: 8mm;
}
table.gost2-106-96 td {
    border: var(--borderStyle);
}

.vertical-bt-tp {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.empty-space {
    border: var(--borderStyle);
    box-sizing: border-box;
    border-top: hidden;
}
