table {
  --borderStyle: 0.5mm solid black;

  border-collapse: collapse;
  border: var(--borderStyle);
  border-spacing: 0;
  width: 100%;
  table-layout:fixed;
}
table thead tr {
  /*height: 15mm;*/
}
table thead td {
  overflow: hidden;
  white-space: nowrap;
}
table tr {
  height: 8mm;
}
table td {
  border: var(--borderStyle);
}

.page-content {
  padding: 5mm;
}

.text-foot{
  text-align: center;
  font-size: 10pt;
}
table tr td.noborder, table tr.noborder > td {
  border: none;
}
.title-foot{
  text-align: center;
  font-size: 11pt;
}
